body{
    background-image: url(https://images.unsplash.com/photo-1611915365928-565c527a0590?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=725&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}